<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Navigation Menu</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <div class="logo">
            Lesson Plan Management System
        </div>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/subjects">Subject</a></li>
            <li><a href="#">Assignments</a></li>
            <li><a href="/calendar">Calendar</a></li>

        </ul>
    </nav>
    <div class="row">
        <div class="column">
            <pre style="font-size: 75% ;"> Lesson plan is a teacher's daily guide for
    what students need to learn, 
     how it will be taught &
           how learning will be measured.

        Lesson plans help teachers be more effective
        providing a detailed outline to follow each class period.

                    </pre>

            <div class="buttons">
                <button> <a href="/login"> Login </a></button>
                <button><a href="/register">Signup</a></button>
            </div>
        </div>
        <div class="column">
            <img style="float:righ;" src="/img/home.jpeg" alt="Lesson-Plan">
        </div>
    </div>
</body>

</html>