<!DOCTYPE html>



<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Navigation Menu</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <div class="logo">
            Lesson Plan Management System
        </div>
        <ul>
            <li><a class="active" href="/dashboard">Home</a></li>
            <li><a href="/subjects">Subject</a></li>
            <li><a href="#">Assignments</a></li>
            <li><a href="/calendar">Calendar</a></li>
        </ul>
        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/logout" method="post"><button type="submit" class="button is-primary">Log out</button></form>
            </div>
        </div>
        </div>
        </div>
    </nav>

    <div class="wrapper">

        <form action="/subjects" method="POST">
            <div class="field">
                <input type="text" name="name" required>
                <label>Enter subject name</label>
            </div>


            <div class="field">
                <input type="submit" value="Create">
            </div>

        </form>
    </div>




</body>

</html>