<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Create new assignment</h1>


    <form action="/subjects/<%= subject._id %>/assignment" method="POST" id="usrform">
        Name: <input type="text" name="title">
        <input type="submit">
    </form>
    <br>
    <textarea rows="4" cols="50" name="body" form="usrform">
  Enter text here...</textarea>

    <!-- <input type="file" name="image" id=""> -->
</body>

</html>